<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<title>Insert title here</title>
	<div th:replace="~{/common/user/head}"></div>
</head>

<body>
	<!--pos page start-->
	<div class="pos_page">
		<div class="container">
			<!--pos page inner-->
			<div class="pos_page_inner">

				<div th:replace="~{/common/user/header}"></div>
					<!--breadcrumbs area start-->
					<div class="breadcrumbs_area">
						<div class="row">
							<div class="col-12">
								<div class="breadcrumb_content">
									<ul>
										<li><a href="index.html">home</a></li>
										<li><i class="fa fa-angle-right"></i></li>
										<li>đăng ký</li>
									</ul>

								</div>
							</div>
						</div>
					</div>
					<!--breadcrumbs area end-->

					<!-- customer login start -->
					<div class="customer_login">
						<div class="row">

							<div class="col-lg-3 col-md-3"></div>
							<!--register area start-->
							<div class="col-lg-6 col-md-6">
								<div class="account_form register">
									<h2>Register</h2>
									<form action="#">
										<p>
											<label>Email address <span>*</span></label> <input type="text">
										</p>
										<p>
											<label>Passwords <span>*</span></label> <input type="password">
										</p>
										<div class="login_submit">
											<button type="submit">Register</button>
										</div>
									</form>
								</div>
							</div>
							<!--register area end-->
							<div class="col-lg-3 col-md-3"></div>
						</div>
					</div>
					<!-- customer login end -->
			</div>
		</div>
	</div>
	<div th:replace="~{/common/user/js}"></div>
		<div th:replace="~{/common/user/footer}"></div>


</body>

</html>