<style>
	.header_links ul li {
		white-space: nowrap;
		margin-right: 10px;
	}

	.fixed-header {
		position: sticky;
		top: 0;
		background-color: #ffffff;
		z-index: 100;
	}
</style>

<link rel="shortcut icon" type="image/x-icon" href="/user/assets/img/logo.jpg">

<!-- all css here -->
<link rel="stylesheet" href="/user/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="/user/assets/css/plugin.css">
<link rel="stylesheet" href="/user/assets/css/bundle.css">
<link rel="stylesheet" href="/user/assets/css/style.css">
<link rel="stylesheet" href="/user/assets/css/responsive.css">
<script src="/user/assets/js/vendor/modernizr-2.8.3.min.js"></script>




<script src="https://kit.fontawesome.com/ffb83fbf7a.js" crossorigin="anonymous"></script>

<!-- Latest compiled JavaScript -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>